<div class="create-product">
<div class="mt-4">
    <h2>đăng sản phẩm</h2>
    <form method="POST" action="/courses/store">
  <div class="form-group">
    <label for="name">tên sản phẩm</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="price">price</label>
    <input type="text" class="form-control" id="price" name="price">
  </div>
  <div class="form-group">
    <label for="image">hinh ảnh</label>
    <input type="file" class="form-control" id="image" name="image">
  </div>
  

  <button type="submit" class="btn btn-primary">thêm khoá học</button>
</form>
</div>
</div>