<div class="info-course pt-4" style="margin-top:98px">

  <div class="row">
    <figure class="mx-4 col-sm-6 col-md-6 col-lg-6" style="width:100%; max-width:320px">
      <img style="max-width:300px" src="{{course.image}}" alt="" />
    </figure>

    <div class="wp-course-body w-100 col-sm-6 col-md-6 col-lg-6 ml-4">
      <h2 class="text-light mb-3 text-uppercase">{{course.name}}</h2>
      <div class="main-start my-2">
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
      </div>
      <span class="text-light mb-3 fs-4">{{course.price}}</span>

      <div class="mb-3 quantity">
        <label class="text-light">Số lượng:</label>
        <input type="number" name="quantity" class="p-1 fs-3" step="1" min="0" max="99" id="" value="1" />
        <span class="text-light ml-3">Sản phẩm còn lại: 39</span>
        <button type="button " class="btn btn-success d-block mt-3" style="border-radius: 5px;"><i
            class="fa-solid fa-cart-arrow-down mr-2"></i>Thêm giỏ hàng</button>
      </div>
    </div>
  </div>

  <div class="decsription text-light">
    <h3 class="decsription-title bg-secondary p-2">Mô tả sản phẩm</h3>
    <p class="decsription-content ml-5">
      {{course.decs}}</br>

      
    </p>
  </div>
</div>
<section>
  <div class="carousel container-fluid">
    <div class="home-title">Suggest</div>
    <div class="image-carousel">
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carousel1.jpg" alt="" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carousel2.jpg" alt="" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carousel3.jpg" alt="" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carousel4.jpg" alt="" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carouse4.jpg" alt="" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carousel5.png" alt="" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carousel6.jpg" alt="" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carousel7.jpg" alt="" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carousel8.png" alt="" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carousel9.png" alt="" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carousel10.png" alt="" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carousel11.png" alt="" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="javascript:void(0)" class="image">
          <img src="../.././img/carousel12.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>