{{! <footer id="footer">
  <div class="footer-contack container-fluid">
    <div class="contack">
      <h3 class="contack-tilte">Thông tin liên hệ</h3>
      <a href="##"><img src="../.././img/logo_wTeam-removebg-preview.png" alt="logo" class="contack-logowt" /></a>
    </div>
    <div class="location">
      <h3>Địa điểm:</h3>
      <ul>
        <li><a href="##">Shop, tỉnh TPHCM</a></li>
        <li><a href="##">Shop, tỉnh Hà Nội</a></li>
        <li><a href="##">Shop, tỉnh Bình Dương</a></li>
        <li><a href="##">Shop, tỉnh Đà Lạt</a></li>
      </ul>
    </div>
    <div class="introduce">
      <h3>Giới thiệu</h3>
      <ul>
        <li><a href="##">Giới thiệu về wT shop</a></li>
        <li><a href="##">Điều khoản sử dụng</a></li>
        <li><a href="##">Chính sách bảo hành</a></li>
        <li><a href="##">Tuyển dụng</a></li>
        <li><a href="##">Tin tức - sự kiện</a></li>
      </ul>
    </div>
    <div class="customer">
      <h3 class="customer-title">Hỗ trợ khách hàng</h3>
      <ul>
        <li>
          <a href="##">Hướng dẫn đăng kí tài khoản</a>
        </li>
        <li>
          <a href="##">Phương thức đặt hàng</a>
        </li>
        <li>
          <a href="##">Phương thức giao hàng</a>
        </li>
        <li>
          <a href="##">Phương thức thanh toán</a>
        </li>
        <li>
          <a href="##">Chính sách trả hàng</a>
        </li>
        <li>
          <a href="##">Hỏi đáp</a>
        </li>
      </ul>
    </div>
  </div>
</footer> }}

<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="row home-info">
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading text-light">Địa điểm</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Shop, tỉnh TPHCM</a></li>
              <li><a href="#" class="py-1 d-block">Shop, tỉnh Hà Nội</a></li>
              <li><a href="#" class="py-1 d-block">Shop, tỉnh Bình Dương</a></li>
              <li><a href="#" class="py-1 d-block">Shop, tỉnh Đà Lạt</a></li>

            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading text-light">Giới thiệu</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Giới thiệu về wT shop</a></li>
              <li><a href="#" class="py-1 d-block">Điều khoản sử dụng</a></li>
              <li><a href="#" class="py-1 d-block">Tuyển dụng</a></li>
              <li><a href="#" class="py-1 d-block">Tin tức - sự kiện</a></li>

            </ul>

          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading text-light">Hỗ trợ</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Hướng dẫn đăng kí tài khoản</a></li>
              <li><a href="#" class="py-1 d-block">Phương thức đặt hàng</a></li>
              <li><a href="#" class="py-1 d-block">Phương thức giao hàng</a></li>
              <li><a href="#" class="py-1 d-block">Phương thức thanh toán</a></li>
              <li><a href="#" class="py-1 d-block">Chính sách trả hàng</a></li>
              <li><a href="#" class="py-1 d-block">Hỏi đáp</a></li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-end">
          <div class="col-md-12 col-lg-11 mb-md-0 mb-4">
            <h2 class="footer-heading text-light">Follow Us</h2>
            <ul class="ftco-footer-social p-0 d-flex">
              <li class="ftco-animate mr-3"><a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="Twitter"
                ><span class="ion-logo-twitter"><i class="fa-brands fa-twitter"></i></span></a></li>
              <li class="ftco-animate mr-3"><a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="Facebook"
                ><span class="ion-logo-facebook"><i
                      class="fa-brands fa-facebook"
                    ></i></span></a></li>
              <li class="ftco-animate mr-3"><a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="Instagram"
                ><span class="ion-logo-instagram"><i
                      class="fa-brands fa-instagram"
                    ></i></span></a></li>
              <li class="ftco-animate mr-3"><a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="Linkedin"
                ><span class="ion-logo-linkedin"><i
                      class="fa-brands fa-linkedin"
                    ></i></span></a></li>
            </ul>
            <h2 class="footer-heading mt-5 text-light">Subscribe Us</h2>
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex row">
                <input
                  type="text"
                  class="form-control rounded-leftcol-12 col-sm-6 mw-50"
                  placeholder="Enter email address"
                />
                <input
                  type="submit"
                  value="Subscribe"
                  class="form-control submit px-3 rounded-right bg-danger text-light col-12 col-sm-6 mw-50"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-6 col-lg-8">
        <p class="copyright">
          Copyright ©
          <script>document.write(new Date().getFullYear());</script>

          <i class="ion-ios-heart" aria-hidden="true"></i>

        </p>
      </div>
      <div class="col-md-6 col-lg-4 text-md-right">
        <p class="mb-0 list-unstyled">
          <a class="mr-md-3" href="#">Terms &amp; Conditions</a>
          <a class="mr-md-3" href="#">Privacy</a>
        </p>
      </div>
    </div>
  </div>
</footer>