<div class="contentsigupbx">
  <form method="POST" action="login/register" class="formsigupbx">
    <h2>Đăng kí</h2>
    <div class="inputsigupbx">
      <span>User</span>
      <input type="text" name="usersigup" placeholder="Tên tài khoản" />
    </div>
    <div class="inputsigupbx">
      <span>Password</span>
      <input type="password" name="passwordsigup" placeholder="Mật khẩu" />
    </div>
    <div class="inputsigupbx">
      <span>Enter your password</span>
      <input type="password" placeholder="Nhập lại mật khẩu" />
    </div>

    <div class="inputsigupbx">
      <input type="submit" value="Đăng kí" />
    </div>
    <div class="inputsigupbx">
      <p>I have account <a href="login/login" class="login">Log in</a></p>
    </div>
    <ul class="icons">
      <li class="icon-item">
        <a href="#" class="icon-link"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li class="icon-item">
        <a href="#" class="icon-link"><i class="fa-brands fa-youtube"></i></a>
      </li>
      <li class="icon-item">
        <a href="#" class="icon-link"><i class="fa-brands fa-twitter"></i></a>
      </li>
    </ul>
  </form>
</div>