<section class="contact-navbar">
  <div class="contact">
    <div class="wp-contact">
      <div class="contact-title">
        <h3 class="text-light text-center mt-4">Contact</h3>
      </div>
    </div>
  </div>
  <div class="contact-main container-fluid">
    <h2 class="text-light pb-3">Get In Touch With Us</h2>
    <div class="wp-main row">
      <div class="main-map col-xm-12 col-sm-12 col-md-6 mb-3">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2771.324417668289!2d106.70435866440455!3d10.792570624524863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175299a2a7aeb89%3A0xfe75f3431d8fd812!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBUaOG7p3kgTOG7o2kgUGjDom4gaGnhu4d1IE1p4buBbiBOYW0!5e0!3m2!1svi!2s!4v1648518122475!5m2!1svi!2s"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="main-info col-xm-12 col-sm-12 col-md-6">
        <form method="post" action="/contact">
          <div class="row">
            <div class="col-lg-6 mb-3">
              <input
                type="text"
                name="firstname"
                id=""
                class="w-100 p-2"
                placeholder="First name"
              />
            </div>
            <div class="col-lg-6 mb-3">
              <input type="text" name="lastname" id="" class="w-100 p-2" placeholder="Last name" />
            </div>
            <div class="col-lg-6 mb-3">
              <input type="text" name="address" id="" class="w-100 p-2" placeholder="Address" />
            </div>
            <div class="col-lg-6 mb-3">
              <input type="text" name="phone" id="" class="w-100 p-2" placeholder="Phone" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea
                class="w-100"
                name="comment"
                id=""
                cols="30"
                rows="10"
                placeholder="Comment"
              ></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn--success my-3">Submit</button>
        </form>

        <ul class="main-info-compeny text-light">
          <li>
            <address><i class="fa-solid fa-city mr-3"></i>02 Trường Xa, TPHCM</address>
          </li>
          <li><i class="fa-solid fa-phone mr-3"></i>1234 - 4567 - 67</li>
          <li><i class="fa-solid fa-location-arrow mr-3"></i>Serving 7 Days A Week From 9am - 5pm</li>
          <li><i class="fa-solid fa-envelope mr-3"></i>support@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
</section>